
<footer class="page-footer font-small bg-primary pt-4">

  <div class="row mb-3">
    <div class="col-md-12 d-flex justify-content-center">
      
        <a href="https://www.facebook.com/think4com/" target="_blank" class="p-3">
          <img class="tm-social" src="https://i.imgur.com/JoZr3A2.png" alt="Logo do Facebook">
        </a>
  
        <a href="https://www.linkedin.com/company/think4/" target="_blank" class="p-3">
          <img class="tm-social" src="https://i.imgur.com/xmtY1B0.png" alt="Logo do Linkedin">
        </a>
  
        <a href="https://www.instagram.com/think4/" target="_blank" class="p-3">
          <img class="tm-social" src="https://i.imgur.com/2LHlKQ0.png" alt="Logo do Intagram">
        </a>
    </div>
  </div>

 
  
    <div class="footer-copyright bg-primary text-center py-3">
      <span class="text-light"> © 2021 Copyright: </span>
      <a class="text-light" target="_blank" href="https://think4.com.br/">https://think4.com.br/</a>
    </div>
  
  </footer>