<div 
class="row mb-5">
    <div class="col-md-12">
      <h4 class="text-center font-weight-bold font-italic">
        Our Services
      </h4>
      <p class="text-center font-weight-light" >Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
    </div>
  </div>

  <!--Cards-->
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top m-auto " src="https://i.imgur.com/e4fQk57.png" alt="Imagem de capa do card">
      <div class="card-body text-center">
        <h5 class="card-title">Researching</h5>
        <p class="card-text"> Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top m-auto" src="https://i.imgur.com/XL8sJy9.png" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title text-center">Design</h5>
        <p class="card-text text-center">Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top m-auto" src="https://i.imgur.com/DhqFvCN.png" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title text-center">Development</h5>
        <p class="card-text text-center">Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div>
    <!--Cards-->
